@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    scroll-behavior: smooth !important;
}   
body {
    margin: 0;
    padding: 0;
    position: relative;
    background: #1c1c20;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
}
section {
    overflow: hidden;
    height: 100vh;
    position: relative;
}
section#qualification, section#project, section#skills, section#contact, section#education {
    height: fit-content;
    padding-top: 13rem;
}
section#about {
    height: fit-content;
    padding-top: 8rem;
}
section#home {
    height: fit-content;
    padding-top: 15%;
}
#footer {
    padding-top: 6rem;
}

/* Background */
.home-bg {
    position: fixed;
    z-index: -99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.starsec {
    content: " ";
    position: absolute;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 571px 173px #00BCD4, 1732px 143px #00BCD4, 1745px 454px #FF5722, 234px 784px #00BCD4, 1793px 1123px #FF9800, 1076px 504px #03A9F4, 633px 601px #FF5722, 350px 630px #FFEB3B, 1164px 782px #00BCD4, 76px 690px #3F51B5, 1825px 701px #CDDC39, 1646px 578px #FFEB3B, 544px 293px #2196F3, 445px 1061px #673AB7, 928px 47px #00BCD4, 168px 1410px #8BC34A, 777px 782px #9C27B0, 1235px 1941px #9C27B0, 104px 1690px #8BC34A, 1167px 1338px #E91E63, 345px 1652px #009688, 1682px 1196px #F44336, 1995px 494px #8BC34A, 428px 798px #FF5722, 340px 1623px #F44336, 605px 349px #9C27B0, 1339px 1344px #673AB7, 1102px 1745px #3F51B5, 1592px 1676px #2196F3, 419px 1024px #FF9800, 630px 1033px #4CAF50, 1995px 1644px #00BCD4, 1092px 712px #9C27B0, 1355px 606px #F44336, 622px 1881px #CDDC39, 1481px 621px #9E9E9E, 19px 1348px #8BC34A, 864px 1780px #E91E63, 442px 1136px #2196F3, 67px 712px #FF5722, 89px 1406px #F44336, 275px 321px #009688, 592px 630px #E91E63, 1012px 1690px #9C27B0, 1749px 23px #673AB7, 94px 1542px #FFEB3B, 1201px 1657px #3F51B5, 1505px 692px #2196F3, 1799px 601px #03A9F4, 656px 811px #00BCD4, 701px 597px #00BCD4, 1202px 46px #FF5722, 890px 569px #FF5722, 1613px 813px #2196F3, 223px 252px #FF9800, 983px 1093px #F44336, 726px 1029px #FFC107, 1764px 778px #CDDC39, 622px 1643px #F44336, 174px 1559px #673AB7, 212px 517px #00BCD4, 340px 505px #FFF, 1700px 39px #FFF, 1768px 516px #F44336, 849px 391px #FF9800, 228px 1824px #FFF, 1119px 1680px #FFC107, 812px 1480px #3F51B5, 1438px 1585px #CDDC39, 137px 1397px #FFF, 1080px 456px #673AB7, 1208px 1437px #03A9F4, 857px 281px #F44336, 1254px 1306px #CDDC39, 987px 990px #4CAF50, 1655px 911px #00BCD4, 1102px 1216px #FF5722, 1807px 1044px #FFF, 660px 435px #03A9F4, 299px 678px #4CAF50, 1193px 115px #FF9800, 918px 290px #CDDC39, 1447px 1422px #FFEB3B, 91px 1273px #9C27B0, 108px 223px #FFEB3B, 146px 754px #00BCD4, 461px 1446px #FF5722, 1004px 391px #673AB7, 1529px 516px #F44336, 1206px 845px #CDDC39, 347px 583px #009688, 1102px 1332px #F44336, 709px 1756px #00BCD4, 1972px 248px #FFF, 1669px 1344px #FF5722, 1132px 406px #F44336, 320px 1076px #CDDC39, 126px 943px #FFEB3B, 263px 604px #FF5722, 1546px 692px #F44336;
    animation: animStar 150s linear infinite;
}
.starthird {
    content: " ";
    position: absolute;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 571px 173px #00BCD4, 1732px 143px #00BCD4, 1745px 454px #FF5722, 234px 784px #00BCD4, 1793px 1123px #FF9800, 1076px 504px #03A9F4, 633px 601px #FF5722, 350px 630px #FFEB3B, 1164px 782px #00BCD4, 76px 690px #3F51B5, 1825px 701px #CDDC39, 1646px 578px #FFEB3B, 544px 293px #2196F3, 445px 1061px #673AB7, 928px 47px #00BCD4, 168px 1410px #8BC34A, 777px 782px #9C27B0, 1235px 1941px #9C27B0, 104px 1690px #8BC34A, 1167px 1338px #E91E63, 345px 1652px #009688, 1682px 1196px #F44336, 1995px 494px #8BC34A, 428px 798px #FF5722, 340px 1623px #F44336, 605px 349px #9C27B0, 1339px 1344px #673AB7, 1102px 1745px #3F51B5, 1592px 1676px #2196F3, 419px 1024px #FF9800, 630px 1033px #4CAF50, 1995px 1644px #00BCD4, 1092px 712px #9C27B0, 1355px 606px #F44336, 622px 1881px #CDDC39, 1481px 621px #9E9E9E, 19px 1348px #8BC34A, 864px 1780px #E91E63, 442px 1136px #2196F3, 67px 712px #FF5722, 89px 1406px #F44336, 275px 321px #009688, 592px 630px #E91E63, 1012px 1690px #9C27B0, 1749px 23px #673AB7, 94px 1542px #FFEB3B, 1201px 1657px #3F51B5, 1505px 692px #2196F3, 1799px 601px #03A9F4, 656px 811px #00BCD4, 701px 597px #00BCD4, 1202px 46px #FF5722, 890px 569px #FF5722, 1613px 813px #2196F3, 223px 252px #FF9800, 983px 1093px #F44336, 726px 1029px #FFC107, 1764px 778px #CDDC39, 622px 1643px #F44336, 174px 1559px #673AB7, 212px 517px #00BCD4, 340px 505px #FFF, 1700px 39px #FFF, 1768px 516px #F44336, 849px 391px #FF9800, 228px 1824px #FFF, 1119px 1680px #FFC107, 812px 1480px #3F51B5, 1438px 1585px #CDDC39, 137px 1397px #FFF, 1080px 456px #673AB7, 1208px 1437px #03A9F4, 857px 281px #F44336, 1254px 1306px #CDDC39, 987px 990px #4CAF50, 1655px 911px #00BCD4, 1102px 1216px #FF5722, 1807px 1044px #FFF, 660px 435px #03A9F4, 299px 678px #4CAF50, 1193px 115px #FF9800, 918px 290px #CDDC39, 1447px 1422px #FFEB3B, 91px 1273px #9C27B0, 108px 223px #FFEB3B, 146px 754px #00BCD4, 461px 1446px #FF5722, 1004px 391px #673AB7, 1529px 516px #F44336, 1206px 845px #CDDC39, 347px 583px #009688, 1102px 1332px #F44336, 709px 1756px #00BCD4, 1972px 248px #FFF, 1669px 1344px #FF5722, 1132px 406px #F44336, 320px 1076px #CDDC39, 126px 943px #FFEB3B, 263px 604px #FF5722, 1546px 692px #F44336;
    animation: animStar 10s linear infinite;
}
.starfourth {
    content: " ";
    position: absolute;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 571px 173px #00BCD4, 1732px 143px #00BCD4, 1745px 454px #FF5722, 234px 784px #00BCD4, 1793px 1123px #FF9800, 1076px 504px #03A9F4, 633px 601px #FF5722, 350px 630px #FFEB3B, 1164px 782px #00BCD4, 76px 690px #3F51B5, 1825px 701px #CDDC39, 1646px 578px #FFEB3B, 544px 293px #2196F3, 445px 1061px #673AB7, 928px 47px #00BCD4, 168px 1410px #8BC34A, 777px 782px #9C27B0, 1235px 1941px #9C27B0, 104px 1690px #8BC34A, 1167px 1338px #E91E63, 345px 1652px #009688, 1682px 1196px #F44336, 1995px 494px #8BC34A, 428px 798px #FF5722, 340px 1623px #F44336, 605px 349px #9C27B0, 1339px 1344px #673AB7, 1102px 1745px #3F51B5, 1592px 1676px #2196F3, 419px 1024px #FF9800, 630px 1033px #4CAF50, 1995px 1644px #00BCD4, 1092px 712px #9C27B0, 1355px 606px #F44336, 622px 1881px #CDDC39, 1481px 621px #9E9E9E, 19px 1348px #8BC34A, 864px 1780px #E91E63, 442px 1136px #2196F3, 67px 712px #FF5722, 89px 1406px #F44336, 275px 321px #009688, 592px 630px #E91E63, 1012px 1690px #9C27B0, 1749px 23px #673AB7, 94px 1542px #FFEB3B, 1201px 1657px #3F51B5, 1505px 692px #2196F3, 1799px 601px #03A9F4, 656px 811px #00BCD4, 701px 597px #00BCD4, 1202px 46px #FF5722, 890px 569px #FF5722, 1613px 813px #2196F3, 223px 252px #FF9800, 983px 1093px #F44336, 726px 1029px #FFC107, 1764px 778px #CDDC39, 622px 1643px #F44336, 174px 1559px #673AB7, 212px 517px #00BCD4, 340px 505px #FFF, 1700px 39px #FFF, 1768px 516px #F44336, 849px 391px #FF9800, 228px 1824px #FFF, 1119px 1680px #FFC107, 812px 1480px #3F51B5, 1438px 1585px #CDDC39, 137px 1397px #FFF, 1080px 456px #673AB7, 1208px 1437px #03A9F4, 857px 281px #F44336, 1254px 1306px #CDDC39, 987px 990px #4CAF50, 1655px 911px #00BCD4, 1102px 1216px #FF5722, 1807px 1044px #FFF, 660px 435px #03A9F4, 299px 678px #4CAF50, 1193px 115px #FF9800, 918px 290px #CDDC39, 1447px 1422px #FFEB3B, 91px 1273px #9C27B0, 108px 223px #FFEB3B, 146px 754px #00BCD4, 461px 1446px #FF5722, 1004px 391px #673AB7, 1529px 516px #F44336, 1206px 845px #CDDC39, 347px 583px #009688, 1102px 1332px #F44336, 709px 1756px #00BCD4, 1972px 248px #FFF, 1669px 1344px #FF5722, 1132px 406px #F44336, 320px 1076px #CDDC39, 126px 943px #FFEB3B, 263px 604px #FF5722, 1546px 692px #F44336;
    animation: animStar 50s linear infinite;
}
.starfifth {
    content: " ";
    position: absolute;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 571px 173px #00BCD4, 1732px 143px #00BCD4, 1745px 454px #FF5722, 234px 784px #00BCD4, 1793px 1123px #FF9800, 1076px 504px #03A9F4, 633px 601px #FF5722, 350px 630px #FFEB3B, 1164px 782px #00BCD4, 76px 690px #3F51B5, 1825px 701px #CDDC39, 1646px 578px #FFEB3B, 544px 293px #2196F3, 445px 1061px #673AB7, 928px 47px #00BCD4, 168px 1410px #8BC34A, 777px 782px #9C27B0, 1235px 1941px #9C27B0, 104px 1690px #8BC34A, 1167px 1338px #E91E63, 345px 1652px #009688, 1682px 1196px #F44336, 1995px 494px #8BC34A, 428px 798px #FF5722, 340px 1623px #F44336, 605px 349px #9C27B0, 1339px 1344px #673AB7, 1102px 1745px #3F51B5, 1592px 1676px #2196F3, 419px 1024px #FF9800, 630px 1033px #4CAF50, 1995px 1644px #00BCD4, 1092px 712px #9C27B0, 1355px 606px #F44336, 622px 1881px #CDDC39, 1481px 621px #9E9E9E, 19px 1348px #8BC34A, 864px 1780px #E91E63, 442px 1136px #2196F3, 67px 712px #FF5722, 89px 1406px #F44336, 275px 321px #009688, 592px 630px #E91E63, 1012px 1690px #9C27B0, 1749px 23px #673AB7, 94px 1542px #FFEB3B, 1201px 1657px #3F51B5, 1505px 692px #2196F3, 1799px 601px #03A9F4, 656px 811px #00BCD4, 701px 597px #00BCD4, 1202px 46px #FF5722, 890px 569px #FF5722, 1613px 813px #2196F3, 223px 252px #FF9800, 983px 1093px #F44336, 726px 1029px #FFC107, 1764px 778px #CDDC39, 622px 1643px #F44336, 174px 1559px #673AB7, 212px 517px #00BCD4, 340px 505px #FFF, 1700px 39px #FFF, 1768px 516px #F44336, 849px 391px #FF9800, 228px 1824px #FFF, 1119px 1680px #FFC107, 812px 1480px #3F51B5, 1438px 1585px #CDDC39, 137px 1397px #FFF, 1080px 456px #673AB7, 1208px 1437px #03A9F4, 857px 281px #F44336, 1254px 1306px #CDDC39, 987px 990px #4CAF50, 1655px 911px #00BCD4, 1102px 1216px #FF5722, 1807px 1044px #FFF, 660px 435px #03A9F4, 299px 678px #4CAF50, 1193px 115px #FF9800, 918px 290px #CDDC39, 1447px 1422px #FFEB3B, 91px 1273px #9C27B0, 108px 223px #FFEB3B, 146px 754px #00BCD4, 461px 1446px #FF5722, 1004px 391px #673AB7, 1529px 516px #F44336, 1206px 845px #CDDC39, 347px 583px #009688, 1102px 1332px #F44336, 709px 1756px #00BCD4, 1972px 248px #FFF, 1669px 1344px #FF5722, 1132px 406px #F44336, 320px 1076px #CDDC39, 126px 943px #FFEB3B, 263px 604px #FF5722, 1546px 692px #F44336;
    animation: animStar 80s linear infinite;
}
@keyframes animStar {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-2000px);
    }
}
.background {
    position: fixed;
    z-index: -99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.glowing {
    position: relative;
    min-width: 420px;
    height: 420px;
    margin: auto;
    transform-origin: right;
}
@keyframes colorChange {
    0% {
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        filter: hue-rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        filter: hue-rotate(360deg);
        transform: rotate(360deg);
    }
}
.glowing span::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f00;
    border-radius: 50%;
}
.glowing span:nth-child(3n + 1)::before {
    background: rgba(134,255,0,1);
    box-shadow: 0 0 20px rgba(134,255,0,1),
    0 0 40px rgba(134,255,0,1),
    0 0 60px rgba(134,255,0,1),
    0 0 80px rgba(134,255,0,1),
    0 0 0 8px rgba(134,255,0,.1);
}
.glowing span:nth-child(3n + 2)::before {
    background: rgba(255,214,0,1);
    box-shadow: 0 0 20px rgba(255,214,0,1),
    0 0 40px rgba(255,214,0,1),
    0 0 60px rgba(255,214,0,1),
    0 0 80px rgba(255,214,0,1),
    0 0 0 8px rgba(255,214,0,.1);
}
.glowing span:nth-child(3n + 3)::before {
    background: rgba(0,226,255,1);
    box-shadow: 0 0 20px rgba(0,226,255,1),
    0 0 40px rgba(0,226,255,1),
    0 0 60px rgba(0,226,255,1),
    0 0 80px rgba(0,226,255,1),
    0 0 0 8px rgba(0,226,255,.1);
}
.glowing span:nth-child(3n + 4)::before {
    background: rgba(235, 64, 84, 1);
    box-shadow: 0 0 20px rgba(235, 64, 84, 1),
    0 0 40px rgba(235, 64, 84, 1),
    0 0 60px rgba(235, 64, 84, 1),
    0 0 80px rgba(235, 64, 84, 1),
    0 0 0 8px rgba(0,226,255,.1);
}
/* hijau */
.glowing span:nth-child(3n + 1) { 
    position: absolute;
    animation: animate-shakes-1 7s alternate infinite;
    top: calc(120px * var(--i));
}
/* kuning */
.glowing span:nth-child(3n + 2) {
    position: absolute;
    animation: animate-shakes-2 7s alternate infinite;
    left: calc(90px * var(--i));
    top: calc(30px * var(--i));
}
/* biru */
.glowing span:nth-child(3n + 3) {
    position: absolute;
    animation: animate-shakes-3 7s alternate infinite; 
    right: calc(10px * var(--i));
    top: calc(50px * var(--i));
}
/* merah */
.glowing span:nth-child(3n + 4) {
    position: absolute;
    animation: animate-shakes-4 7s alternate infinite; 
    right: calc(40px * var(--i));
    top: calc(70px * var(--i));
}
@keyframes animate-shakes-1 {
    0%, 100% {
      transform: translate(0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translate(-2px, -2px);
    }
    20%, 40%, 60%, 80% {
      transform: translate(2px, 2px);
    }
}
@keyframes animate-shakes-2 {
    0%, 100% {
      transform: translate(0, 0);
    }
    10%, 40%, 70% {
      transform: translate(2px, 2px);
    }
    20%, 50%, 80% {
      transform: translate(-2px, -2px);
    }
}
@keyframes animate-shakes-3 {
    0%, 100% {
        transform: translate(0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translate(2px, 2px);
    }
    20%, 40%, 60%, 8% {
        transform: translate(-2px, -2px);
    }
}
@keyframes animate-shakes-4 {
    0%, 100% {
      transform: translate(0, 0);
    }
    10%, 40%, 70% {
      transform: translate(-2px, -2px);
    }
    20%, 50%, 80% {
      transform: translate(2px, 2px);
    }
}

/* Navbar */
nav {
    transition: .5s filter ease, .5s background-filter ease, .5s background ease;
}
.navbar-nav {
    margin: 0;
}
nav.scrolled {
    background: rgba(45, 46, 51, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0px 9px 41px 0px rgba(0, 0, 0, .1);
}
.navbar-brand {
    font-family: 'Questrial';
    letter-spacing: 7px;
    font-size: 2.5rem;
    margin: 0;
}
.nav-link {
    font-family: 'Questrial';
    font-size: 17px;
}
.svg-dropdown {
    margin-bottom: 3.5px;
    transition: .5s transform ease;
    transform: rotate(-90deg);
}
.svg-dropdown-left {
    margin-right: 20px;
}
.navbar-brand, .nav-link, .nav-link:visited, .nav-link:active, .nav-link:focus {
    color: white;
    transition: .5s color ease, .5s transform ease;
}
.navbar-brand:hover, .nav-link:hover {
    color: rgba(255, 255, 255, 0.7);
    transform: translateY(-2px);
}
.navbar-toggler {
    background: none !important;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    fill: #FFFFFF !important;
    padding: 0 !important;
    margin: 0 !important;
}
.navbar-toggler:hover {
    transform: translateY(-2px);
    color : rgba(255, 255, 255, 0.7);
}
.navbar-toggler {
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.navbar-toggler.clicked {
    background-color: #28293D;
    transform: rotate(180deg);
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    padding: 10px;
    z-index: 1;
    list-style-type: none;
    background: rgba(45, 46, 51, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    margin-top: 10px;
}
.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    margin-left: 1rem;
}

/* Button */
.btn {
    font-size: 15px;
    height: 45px;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 0;
    padding: 0 24px;
    font-family: 'Poppins';
}
.btn-light {
    background: white;
    color: #28293D;
    transition: .5s background ease, .5s color ease, .5s transform ease;
}
.btn-light:hover {
    background: #444559;
    color: white;
    transform: translateY(-4px);
}
.btn-dark, .btn-dark:active, .btn-dark:focus {
    background: #444559;
    color: white;
    margin-left: 20px;
    transition: .5s background ease, .5s color ease, .5s transform ease;
}
.btn-dark:hover {
    background: white;
    color: #28293D;
    transform: translateY(-4px);
}
.btn-dark svg, .btn-light svg {
    margin-top: -3px;
    margin-left: 15px;
}
.btn-light svg {
    margin-left: 18px;
}
.btn.project-btn {
    position: absolute;
    bottom: 0;
    height: 35px;
    padding: 0 15px;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 60px;
    border-radius: 8px;
    width: fit-content;
}
.project-btn {
    font-size: 14px;
    font-family: 'Poppins';
    background: #444559;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 20px;
    transition: .5s background ease, .5s color ease, .5s transform ease;
}
.project-btn:hover {
    background: white;
    color: #28293D;
    transform: translateY(-4px);
}
.project-btn svg {
    margin-top: -3px;
    margin-left: 18px;
}

/* Home */
.summary {
    color: rgba(255, 255, 255, 0.7);
    font-size: 17px;
    line-height: 1.5em;
    width: 90%;
}
.porch-heading {
    font-size: 50px;
    color: #ffffff !important;
    font-family: 'Questrial';
    line-height: 1em;
    letter-spacing: 2px;
}
.porch-desc {
    margin-top: 2rem;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-family: 'Poppins';
    padding: 20px;
    background: rgba(45, 46, 51, 0.7);
    text-align: justify;
}
.porch-buttons {
    margin-top: 2.5rem;
    font-family: 'Poppins';
}
.gigachad1 {
    width: 400px;
    height: auto;
    z-index: -1;
    animation: animate-shakes 10s ease-in-out infinite;
    filter: drop-shadow(0 0 0.3rem rgba(255, 255, 255, 0.7));
}
.doublerectangle1 {
    z-index: -1;
    width: 380px;
    position: absolute;
    left: 20px;
}
.doublerectangle {
    z-index: -1;
    width: 380px;
    position: absolute;
    left: 65%;
}
@keyframes animate-shakes {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-18px)
    }
}

/* About */
.about-text {
    color: #FFFFFF;
    font-family: 'Questrial';
    letter-spacing: 1px;
    font-size: 30px;
    line-height: 35px;
}
.about-dsc {
    width: 90%;
}
.about-story {
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-family: 'Poppins';
}
.about-sosmed {
    margin-top: 10px;
}
.social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 20px;
}
.social-icons li {
    margin: 0 10px;
}
.social-icons li a {
    font-size: 20px;
    height: 30px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    position: relative;
    transition: 0.5s ease;
}
.social-icons li a:hover {
    background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 30px;
}
.social-icons li a::before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: linear-gradient(45deg, #293133, #6f4d81, #943a40);
    transform: scale(1);
    transition: 0.5s ease-in-out;
}
.social-icons li a:hover::before {
    transform: scale(0);
}

.line {
    width: 100%;
    height: 3px;
    background: #a59999;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dsc {
    background: rgba(45, 46, 51, 0.7);
    padding: 20px;
    font-size: 14px;
    line-height: 2em;
    text-align: justify;
}
.loader-wrapper {
    width: 350px;
    height: 350px;
}
.loader {
    width: 100%;
    height: 100%;
    border: 12px solid #162534;
    border-top-color: #2CD9FF;
    border-bottom-color: #7EFF82;
    border-radius: 50%;
    animation: rotate 4.5s linear infinite;
}
.loader-inner {
    border-bottom-color: #2CD9FF;
    border-top-color: #7EFF82;
    animation-duration: 2.5s;
}
.deep {
    border-bottom-color: #7EFF82;
    border-top-color: #2CD9FF;
    animation-duration: 1.8s;
}
@keyframes rotate {
    0% {
        transform: scale(1) rotate(3600deg);
    }
    50% {
        transform: scale(.8) rotate(-360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loaded {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.loaded::before, .loaded:after {
    content: "";
    position: absolute;
    border-radius: inherit;
}
.loaded:before {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #2CD9FF 0%, #7EFFB2 100%);
    animation: rotate .5s infinite linear;
}
.loaded:after {
    width: 85%;
    height: 85%;
    background-color: #090909;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Education */
.internet-crushed {
    position: absolute;
    right: 0;
    margin-right: 10%;
    margin-top: 7%;
    width: 30%;
}
.galaxy-crushed {
    position: absolute;
    margin-left: 5%;
    width: 30%;
}
.education-heading {
    color: #FFFFFF;
    font-family: 'Questrial';
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 3rem;
    font-weight: bold;
}
.flow > * + * {
    margin-top: var(--flow-space, 4em);
}
.card-ed {
    display: grid;
    place-items: center;
    width: 400px;
    max-width: 20.875rem;
    height: 450px;
    overflow: hidden;
    border-radius: 0.625rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.major {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
} 
.card-ed > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.card-ed-description {
    font-family: "Questrial";
    font-size: 14px;
    text-align: justify;
}
.card-ed-title {
    font-family: "Questrial";
}
.card-ed-major {
    font-size: 30px;
    font-weight: bold;
}
.card-ed-background {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}
.card-ed img {
    width: 1920;
    height: 2160;
}
.card-ed-content {
    --flow-space: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    height:78%;
    padding: 12% 1.25rem 1.875rem;
    background: linear-gradient(
        180deg,
        hsla(0, 0%, 0%, 0) 0%,
        hsla(0, 0%, 0%, 0.3) 10%,
        hsl(0, 0%, 0%) 100%
    );
}
.card-ed-content--container {
    --flow-space: 1.25rem;
}
.card-ed-title {
    position: relative;
    width: fit-content;
    width: -moz-fit-content;
}
.card-ed-title::after {
    content: "";
    position: absolute;
    height: 0.3125rem;
    width: calc(100% + 1.25rem);
    bottom: calc((1.25rem - 0.5rem) * -1);
    left: -1.25rem;
    background-color: hsl(46, 100%, 50%);
}
.card-ed-content {
    transform: translateY(50%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
}
.card-ed-title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
}
.card-ed-background {
    transition: transform 500ms ease-in;
}
.card-ed-content--container > :not(.card-ed-title) {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
}
.card-ed:hover,
.card-ed:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
}
.card-ed:hover .card-ed-content,
.card-ed:focus-within .card-ed-content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
}
.card-ed:focus-within .card-ed-content {
    transition-duration: 0ms;
}
.card-ed:hover .card-ed-background,
.card-ed:focus-within .card-ed-background {
    transform: scale(1.3);
}
.card-ed:hover .card-ed-content--container > :not(.card-ed-title),
.card-ed:focus-within .card-ed-content--container > :not(.card-ed-title),
.card-ed:focus-within {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
}
.card-ed:hover .card-ed-title::after,
.card-ed:focus-within .card-ed-title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
}

/* Qualification */
.qualification-heading {
    color: #FFFFFF;
    font-family: 'Questrial';
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 3rem;
    font-weight: bold;
}
.courses-heading {
    font-family: 'Questrial';
    font-size: 30px;
    margin-bottom: 3rem;
    font-weight: bold;
    color: #ffffff;
}
.experience-heading {
    color: #FFFFFF;
    font-family: 'Questrial';
    letter-spacing: 1px;
    font-size: 24px;
    line-height: 35px;
    cursor: pointer;
}
.experience, .courses {
    width: 90%;
}
#experience, #courses {
    padding-left: 50px;
    border-left: 1px solid #D4D4D8;
    position: relative;
    margin-top: 70px;
}
.qualification-section {
    margin-top: 22px;
}
.qualification-text {
    font-family: 'Questrial';
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 20px;
}
.qualification-text span {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}
.qualification-desc {
    margin-top: 5px;
    font-size: 14px;
    font-family: 'Poppins';
    color: rgba(255, 255, 255, 0.6);
    background: rgba(45, 46, 51, 0.7);
    padding: 10px;
    text-align: justify;
}
.qualification-section#first {
    padding-top: 35px;
}
.qualification-section#last {
    padding-bottom: 35px;
}
.qualification-point {
    background: #ffffff;
    height: 10px;
    width: 10px;
    position: absolute;
    left: 0;
    margin-top: 8.5px;
    margin-left: -5px;
}
.dottedgrid {
    position: absolute;
    width: 20%;
    right: 0;
    margin-right: 2%;
    margin-top: -2%;
}

/* Project */
.works-text {
    color: #FFFFFF;
    font-family: 'Questrial';
    letter-spacing: 1px;
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
}
.works-desc {
    margin-top: 5px;
    font-size: 14px;
    font-family: 'Poppins';
    color: rgba(255, 255, 255, 0.6);
}
.works-projects {
    margin-top: 70px;
}
.project-box {
    position: relative;
    background: #333448;
    width: 320px;
    height: 430px;
    border-radius: 12px;
    cursor: pointer;
    margin: 20px;
    transition: .5s box-shadow ease, .5s transform ease;
}
@keyframes box-shadow {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}
.project-box:hover {
    transform: scale(1.03);
    box-shadow: 3px 25px 30px 0px rgba(0,0,0,.08);
}
.project-img img {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.project-content {
    padding: 20px;
    padding-top: 18px;
    padding-bottom: 21px;
}
.project-title {
    font-family: 'Questrial';
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0.5px;
}
.project-desc {
    margin-top: 3px;
    font-family: 'Poppins';
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    text-align: justify;
}
.project-tag {
    background: #444559;
    font-size: 13px;
    font-family: 'Poppins';
    color: rgba(255, 255, 255, 0.5);
    padding: 1px 14px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 7px;
}
.btn.dribble {
    margin-top: 72px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 3ms;
}
.rotatedrectangle {
    width: 40%;
    position: absolute;
    z-index: -1;
    left: 0;
    margin-left: -3%;
    margin-top: 5%;
}

/* Contact */
.contact-desc {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-family: 'Poppins';
}
.contact-text {
    color: #FFFFFF;
    font-family: 'Questrial';
    letter-spacing: 1px;
    font-size: 30px;
    line-height: 35px;
}
.contact-line {
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    margin-top: 15px;
}
.contact-title {
    font-size: 15px;
    color: #FFFFFF;
    font-family: 'Questrial';
    word-spacing: 5px;
}
.contact-title i {
    font-size: 11px;
}
.contact-info  {
    margin-top: 30px;
}
.contact-info .col-md-6 {
    margin-top: 20px;
}
.contact-sub-info {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Poppins';
    text-decoration: none;
}
.contact-sub-info:hover {
    color: white;
}
.contact-box {
    background: #333448;
    padding: 28px 25px;
    width: 400px;
    height: fit-content;
    border-radius: 10px;
}
.contact-label {
    font-size: 15px;
    color: #FFFFFF;
    font-family: 'Questrial';
}
.contact-input {
    font-size: 14px;
    color: #FFFFFF;
    background: #444559;
    outline: none !important;
    box-shadow: none !important;
    border: none;
    font-family: 'Poppins';
    width: 100%;
    margin: 10px 0;
    padding: 7px 12px;
    border-radius: 5px;
}
.contact-input:focus {
    border: 2px solid rgba(255, 255, 255, 0.3);
}
.contact-buttons {
    margin-top: 15px;
}
.contact-buttons .btn {
    font-size: 15px;
    height: 38px;
}
.send-button {
    padding: 0 17px;
    margin-left: 20px;
}
.send-button svg {
    margin-left: 14px;
}
.copyright-footer {
    height: 80px;
    font-family: 'Poppins';
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}
.doublecircle {
    position: absolute;
    width: 32%;
    z-index: -1;
    margin-left: 2rem;
    margin-top: -3rem;
}

/* Skills */
.skills-box {
    width: 90%;
}
.card-skill {
    position: relative;
    height: 400px;
    width: 300px;
    display: block;
    background: white;
    box-shadow: 0px 1px 2px 0px rgba(222, 214, 214, 0.15);
    transition: 0.4s linear;
    margin: 12px;
    border-radius: 12px;
}
.card-skill:hover .image-skill img {
    transform: scale(1.1);
    opacity: 0.6;
}
.card-skill .image-skill {
    background: black;
    height: 400px;
    overflow: hidden;
    border-radius: 12px;
}
.image-skill img {
    height: 100%;
    width: 100%;
    transition: 0.6s;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card-skill .content-skill {
    position: absolute;
    bottom: 0px;
    background: #444559;
    width: 100%;
    text-align: center;
    padding: 20px 30px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.content-skill:hover, figcaption:hover {
    border-radius: 12px;
}
.content-skill .title-skill {
    font-size: 20px;
    color: white;
    font-family: 'Questrial';
}
.content-skill .sub-title-skill {
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Poppins';
}
.bottom-skill ul {
    color: white;
    font-size: 14px;
    text-align: justify;
    line-height: 1.8em;
    font-family: 'Poppins';
    list-style-type: none;
}
.bottom-skill p {
    color: white;
    font-size: 14px;
    text-align: justify;
    font-family: 'Poppins';
}
.bottom-skill button {
    float: left;
    padding: 7px 15px;
    font-size: 15px;
    background: #e74c3c;
    color: white;
    border: none;
    margin: 10px 0;
    transition: 0.3s ease-in-out;
    border-radius: 4px;
    bottom: 0;
}
.bottom-skill button:hover {
    transform: scale(1.1);
    background: #e64533;
}
.bottom-skill {
    display: none;
}
.card-skill figcaption {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #444559;
    padding: 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.works-projects, .skill-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Media */
@media (max-width: 991.98px) {
    .home, .about, .qualification, .contact {
        flex-wrap: wrap;
    }
    section#home {
        padding-top: 12rem;
    }
    .summary {
        order: 2 !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mypict {
        order: 1 !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .porch-desc {
        width: 80%;
    }
    .project-title {
        font-size: 18px;
    }
    .project-desc {
        font-size: 12px;
    }
    .box-item {
        width: 230px;
    }
    .dottedgrid {
        width: 22%;
        margin-top: 10%;
    }
    .navbar-nav {
        justify-content: center;
    }
    .doublerectangle, .doublerectangle1 {
        display: none;
    }
    .content-skill .title-skill {
        font-size: 18px;
    }
    .content-skill .sub-title-skill {
        font-size: 16px;
    }
    .bottom-skill ul {
        font-size: 12px;
    }
    .bottom-skill button {
        font-size: 14px;
    }
    figcaption .bottom-skill p {
        font-size: 12px;
    }
    /* .home-bg video {
        display: none;
    } */
    .home-bg {
        display: none;
    }
    .background {
        display: block;
    }
}
@media (max-width: 767.98px) {
    .summary {
        order: 2 !important;
        margin-top: 15%;
    }
    .education {
        flex-wrap: wrap;
    }
    .mypict {
        order: 1 !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gigachad1 {
        width: 350px;
    }
    .gigachad2 {
        height: auto;
        display: flex;
        object-fit: cover;
        margin-bottom: 4rem;
        z-index: -1;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
    }
    .porch-desc {
        width: 100%;
    }
    .porch-heading {
        font-size: 40px;
        margin-left: 5%;
    }
    .porch-desc {
        font-size: 13px;
    }
    .about-sosmed {
        margin-top: 20px;
    }
    .about-story {
        margin-top: 40px;
    }
    .box-item {
        width: 300px;
    }
    .btn.dribbble {
        margin-top: 25px;
    }
    .contact-box {
        margin-top: 70px;
    }
    .doublerectangle {
        display: none;
    }
    .card-skill .image-skill {
        height: 400px;
    }
    .content-skill .title-skill {
        font-size: 20px;
    }
    .content-skill .sub-title-skill {
        font-size: 14px;
    }
    .bottom-skill ul {
        font-size: 14px;
    }
    .bottom-skill button {
        font-size: 17px;
    }
    figcaption .bottom-skill p {
        font-size: 14px;
    }
    .courses {
        margin-top: 70px;
    }
}
@media (max-width: 575.98px) {
    .dottedgrid {
        width: 30%;
        margin-top: 100px;
        opacity: 0.4;
    }
    .rotatedrectangle, .doublecircle {
        width: 60%;
    }
    .rotatedrectangle {
        margin-top: 100%;
    }
}
@media (max-width: 500px){
    .about-text {
        font-size: 23px;
    }
}
@media (max-width: 410px) {
    .porch-buttons .btn {
        font-size: 13px;
    }
    .works-text, .experience-heading, .contact-text {
        font-size: 25px;
    }
}
@media (max-width: 371px) {
    .porch-buttons .btn {
        font-size: 12px;
    }
}
@media (max-width: 281px) {
    .porch-heading {
        font-size: 35px;
    }
    .porch-buttons .btn, .porch-desc, .porch-info-desc, .about-story, .qualification-desc
, .btn.dribbble, .project-desc, .nav-link, .works-desc, .btn, .project-tag, .contact-desc {
        font-size: 11px;
    }
    .project-title {
        font-size: 14px;
    }
    .send-button svg {
        display: none;
    }
    .porch-buttons .btn svg {
        display: none;
    }
    .about-text, .works-text, .experience-heading, .contact-text {
        font-size: 18px;
        line-height: 22px;
    }
}
  
@media (max-width: 767px) {
    .navbar-nav {
        flex-direction: column;
        align-items: stretch;
        display: flex;
        place-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    .navbar-nav .nav-link {
        text-align: center;
        margin-bottom: 5px;
    }
    .navbar-nav.show {
        opacity: 1;
    }
}
