@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.assets-crushed {
    left: 50%;
    right: 50%;
    position: absolute;
}
.education-heading {
    color: #FFFFFF;
    font-family: 'Questrial';
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 3rem;
    font-weight: bold;
}
.flow > * + * {
    margin-top: var(--flow-space, 4em);
}
.card-ed {
    display: grid;
    place-items: center;
    width: 400px;
    max-width: 20.875rem;
    height: 450px;
    overflow: hidden;
    border-radius: 0.625rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.major {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
} 
.card-ed > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.card-ed-description {
    font-family: "Questrial";
    font-size: 14px;
    text-align: justify;
}
.card-ed-title {
    font-family: "Questrial";
}
.card-ed-major {
    font-size: 30px;
    font-weight: bold;
}
.card-ed-background {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}
.card-ed img {
    width: 1920;
    height: 2160;
}
.card-ed-content {
    --flow-space: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    height:78%;
    padding: 12% 1.25rem 1.875rem;
    background: linear-gradient(
        180deg,
        hsla(0, 0%, 0%, 0) 0%,
        hsla(0, 0%, 0%, 0.3) 10%,
        hsl(0, 0%, 0%) 100%
    );
}
.card-ed-content--container {
    --flow-space: 1.25rem;
}
.card-ed-title {
    position: relative;
    width: fit-content;
    width: -moz-fit-content;
}
.card-ed-title::after {
    content: "";
    position: absolute;
    height: 0.3125rem;
    width: calc(100% + 1.25rem);
    bottom: calc((1.25rem - 0.5rem) * -1);
    left: -1.25rem;
    background-color: hsl(46, 100%, 50%);
}
.card-ed-content {
    transform: translateY(50%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
}
.card-ed-title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
}
.card-ed-background {
    transition: transform 500ms ease-in;
}
.card-ed-content--container > :not(.card-ed-title) {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
}
.card-ed-title .major {
    display: none;
}
.card-ed:hover {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
}
.card-ed:hover .card-ed-content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
}
.card-ed:hover .card-ed-background {
    transform: scale(1.3);
}
.card-ed:hover .card-ed-content--container > :not(.card-ed-title) {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
}
.card-ed:hover .card-ed-title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {
    .education {
        flex-wrap: wrap;
    }
    .assets-crushed svg {
        display: none;
    }
}

